# Dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor/OS-specific
.vscode/
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# Vite cache
.vite/
